
<div class="w-full flex justify-center md:justify-start gap-4">
  <!-- big circle -->
  <div
    class="w-40 h-40 bg-orange-200 hover:bg-orange-300 transition-all duration-200 rounded-full md:rounded-lg justify-center flex flex-col items-center"
  >
    <p class="text-4xl md:text-2xl">{{ accepted + rejected }}</p>
    <p class="text-xl md:text-base md:font-semibold">Total</p>
  </div>

  <!-- smaller circles -->
  <div class="flex md:flex-row flex-col gap-4 justify-center">
    <div class="flex items-center gap-2">
      <div
        class="w-20 md:w-40 md:h-40 h-20 flex flex-col bg-green-200 hover:bg-green-300 transition-all duration-200 rounded-full md:rounded-lg justify-center items-center"
      >
        <p class="text-2xl">{{ accepted }}</p>
        <p class="font-semibold md:block hidden">Accepted</p>
      </div>

      <p class="font-semibold md:relative hidden">Accepted</p>
    </div>

    <div class="flex items-center text-center gap-2">
      <div
        class="w-20 h-20 md:w-40 md:h-40 flex flex-col bg-red-200 hover:bg-red-300 transition-all duration-200 rounded-full md:rounded-lg justify-center items-center"
      >
        <p class="text-2xl">{{ rejected }}</p>
        <p class="font-semibold md:block hidden">Rejected</p>
      </div>

      <p class="font-semibold md:relative hidden">Rejected</p>
    </div>
  </div>
</div>
